<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/score_style.css') }}">
</head>

<header>
  <h1 id="title">Discord Piece V.02</h1>
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
 </header>

<h2 id="performers">Directions for performers</h2>
<div class="main-content">
  <h3>Setup</h3>
  <p>Using a computer(mobile will not work), follow the discord server invite sent to you by the coordinator.  If you do not have a discord account, set one up.  Next, click on "User Settings" and under app settings click on "Voice and Video". Turn off "Echo Cancellation", "Noise Reduction" and "Automatic Gain Control".  Finally, join the voice channel "MainStage" by clicking on it.  Note-Discord by default does not offer stereo audio.  However, if you so desire, using a third party application such as Ripcord you can enable it.</p>

  <h3>Performance</h3>
  <p>In this piece, you will be shuffled through various audio channels, meeting a variety of other improvisers.  In each new setting you enter, try to set up an atmosphere, and carry traces of this atmosphere you develop in all your interactions throughout the duration of the piece.</p>
</div>

<footer>
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
  <p>&#169;2021 B. Kieran McAuliffe</p>
  <a href="kieranmcauliffemusic.com">kieranmcauliffemusic.com</a>
</footer>
