{% extends "base.html" %}

{% block content %}
    <nav id="navbar">
      <ul id="nav-list">
        <li><a href="#about" class="nav-link">About</a></li>
        <li><a href="#listen" class="nav-link">Listen</a></li>
        <li><a href="#works" class="nav-link">Works List</a></li>
        <li><a href="#contact" class="nav-link">Contact</a></li>
      </ul>
    </nav>

    <!-- END NAVBAR SECTION -->
    <!-- START WELCOME SECTION -->

    <section id="welcome">
      <h1 id="name">
        B. Kieran McAuliffe
      </h1>
      <p id="description">Composer, Guitarist, Educator</p>
    </section>

    <!-- END WELCOME SECTION -->
    <!-- START ABOUT SECTION -->
    <section id="about">
      <h2>About</h2>
      <div id="bio-div">
        <p id="bio">Kieran McAuliffe is an emerging musical artist working in a variety of contemporary genres.  He has collaborated with major artists including Kiyoshi Kitagawa, Billy Martin, and Andy Milne. He has performed internationally at major venues including Bern Jazz Festival, the Stone, the Blue Note NYC, and the Apollo Theater.  Kieran holds a BFA in Performance from the New School, is currently working on an MM in Composition from SUNY Purchase, and very soon will be pursuing a Doctorate somewhere!</p>
        <img src="https://lh3.googleusercontent.com/75IGctmHpkkzJ4eD-XqTBVYOR80P-TQYMUu3fAxcsxFP4by8SF78wVfWWQEQBhbiB6hcPeJ2C_1KKtoaz1NeoPjUDTLJBObqgt-V7z8y2X3Gg38V_ovmWBV345KDNvfTjKzXFTPp=w600-h315-p-k" id="headshot" />
      </div>
    </section>

    <!-- END ABOUT SECTION -->
    <!-- START LISTEN SECTION -->
    <section id="listen">
      <h2>Listen/Watch</h2>
      <div id="listen-grid">
        <a class="listen-tile" href="https://soundcloud.com/kieran_mcauliffe/pathologypersonality/s-rlmbefJMaeF" target="_blank">
          <h4>Pathology/Personality</h4>
          <p>An exhilarating composition for electric guitar and string quartet</p>
        </a>
        <a class="listen-tile" href="https://kanamiyamoto.bandcamp.com/track/inhuma-kieran-mcauliffe" target="_blank">
          <h4>Inhuma</h4>
          <p>A mysterious piece performed with a flute led jazz quartet</p>
        </a>
        <a class="listen-tile" href="https://soundcloud.com/kieran_mcauliffe/after-the-carnival/s-7f1ewtbcSsw" target="_blank">
          <h4>After the Carnival</h4>
          <p>A nostalgic piece for 7 flutes. Video coming soon!</p>
        </a>
        <a class="listen-tile" href="https://www.youtube.com/watch?v=8Lnh8_qq5AA&ab_channel=kanamiyak" target="_blank">
          <h4>AIphone</h4>
          <p>An electric jazz shredfest.  In Japan, with video!</p>
        </a>
        <a class="listen-tile" href="https://www.youtube.com/watch?v=ng183WTBV8M&ab_channel=KieranMcAuliffe" target="_blank">
          <h4>Snakes Among Feet</h4>
          <p>A creepy piece for flute and piano.  With video!</p>
        </a>
        <a class="listen-tile" href="https://soundcloud.com/kieran_mcauliffe/no-confidence" target="_blank">
          <h4>No Confidence</h4>
          <p>An atmospheric duet for tenor sax and clarinet</p>
        </a>
        <a class="listen-tile" href="https://kentays.bandcamp.com/track/jcs-ap-christmas-miracle" target="_blank">
          <h4>JCAPCM</h4>
          <p>A metal / punk / christmas / chamber-jazz disaster</p>
        </a>
        <a class="listen-tile" href="https://soundcloud.com/kieran_mcauliffe/embraceable-you" target="_blank">
          <h4>Embraceable You</h4>
          <p>From the great american songbook, performed on solo guitar</p>
        </a>
      </div>
    </section>
    <!-- END LISTEN SECTION -->
    <!-- START WORKS SECTION -->
    <section id="works">
      <h2>Works List</h2>
      <div id="works-list">
        {% for cat in piece_categories.keys() %}
          <h3>{{cat}}</h3>
          {% for piece in piece_categories[cat] %}
          <p>{{piece}}</p>
          {% endfor %}
        {% endfor %}
      </div>

    </section>

    <!-- END WORKS SECTION -->


    <!-- START CONTACT SECTION -->

    <section id="contact">
      <h2>Contact/External Links</h2>
      <ul id="contact-list">
        <li><a class="profile-link" href="mailto:bkieranmcauliffe@gmail.com"><i class="fas fa-envelope-square"></i>Email</a></li>
        <li><a class="profile-link" href="https://soundcloud.com/kieran_mcauliffe" target="_blank"><i class="fab fa-soundcloud"></i>Soundcloud</a></li>
        <li><a class="profile-link" href="https://github.com/trian-gles" target="_blank"><i class="fab fa-github"></i>Github</a>
        </li>
        <li><a class="profile-link" href="https://www.instagram.com/diatonicsystems" target="_blank"><i class="fab fa-instagram"></i>Instagram</a></li>
        <li><a class="profile-link" href="https://twitter.com/keeeyran" target="_blank"><i class="fab fa-twitter"></i>Twitter</a></li>
      </ul>
    </section>

    <!-- END CONTACT SECTION -->
{% endblock %}
