<!DOCTYPE html>
<html>
  <head>
    <title>Kieran McAuliffe Music</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
  </head>
  <body>
    <nav id="navbar">
      <ul id="nav-list">
        <li><a href="#about" class="nav-link">About</a></li>
        <li><a href="#listen" class="nav-link">Listen</a></li>
        <li><a href="#works" class="nav-link">Works List</a></li>
        <li><a href="#contact" class="nav-link">Contact</a></li>
      </ul>
    </nav>

    <!-- END NAVBAR SECTION -->
    <!-- START WELCOME SECTION -->

    <section id="welcome">
      <h1 id="name">
        B. Kieran McAuliffe
      </h1>
      <p id="description">Composer, Guitarist, Educator</p>
    </section>

    <!-- END WELCOME SECTION -->
    <!-- START ABOUT SECTION -->
    <section id="about">
      <h2>About</h2>
      <div id="bio-div">
        <p id="bio">Kieran McAuliffe is an emerging musical artist working in a variety of contemporary genres.  He has collaborated with major artists including Kiyoshi Kitagawa, Billy Martin, and Andy Milne. He has performed internationally at major venues including Bern Jazz Festival, the Stone, the Blue Note NYC, and the Apollo Theater.  Kieran holds a BFA in Performance from the New School, is currently working on an MM in Composition from SUNY Purchase, and very soon will be pursuing a Doctorate somewhere!</p>
        <img src="https://lh3.googleusercontent.com/75IGctmHpkkzJ4eD-XqTBVYOR80P-TQYMUu3fAxcsxFP4by8SF78wVfWWQEQBhbiB6hcPeJ2C_1KKtoaz1NeoPjUDTLJBObqgt-V7z8y2X3Gg38V_ovmWBV345KDNvfTjKzXFTPp=w600-h315-p-k" id="headshot" />
      </div>
    </section>

    <!-- END ABOUT SECTION -->
    <!-- START LISTEN SECTION -->
    <section id="listen">
      <h2>Listen/Watch</h2>
      <div id="listen-grid">
        <a class="listen-tile" href="https://soundcloud.com/kieran_mcauliffe/pathologypersonality/s-rlmbefJMaeF" target="_blank">
          <h4>Pathology/Personality</h4>
          <p>An exhilarating composition for electric guitar and string quartet</p>
        </a>
        <a class="listen-tile" href="https://kanamiyamoto.bandcamp.com/track/inhuma-kieran-mcauliffe" target="_blank">
          <h4>Inhuma</h4>
          <p>A mysterious piece performed with a flute led jazz quartet</p>
        </a>
        <a class="listen-tile" href="https://soundcloud.com/kieran_mcauliffe/after-the-carnival/s-7f1ewtbcSsw" target="_blank">
          <h4>After the Carnival</h4>
          <p>A nostalgic piece for 7 flutes. Video coming soon!</p>
        </a>
        <a class="listen-tile" href="https://www.youtube.com/watch?v=8Lnh8_qq5AA&ab_channel=kanamiyak" target="_blank">
          <h4>AIphone</h4>
          <p>An electric jazz shredfest.  In Japan, with video!</p>
        </a>
        <a class="listen-tile" href="https://www.youtube.com/watch?v=ng183WTBV8M&ab_channel=KieranMcAuliffe" target="_blank">
          <h4>Snakes Among Feet</h4>
          <p>A creepy piece for flute and piano.  With video!</p>
        </a>
        <a class="listen-tile" href="https://soundcloud.com/kieran_mcauliffe/no-confidence" target="_blank">
          <h4>No Confidence</h4>
          <p>An atmospheric duet for tenor sax and clarinet</p>
        </a>
        <a class="listen-tile" href="https://kentays.bandcamp.com/track/jcs-ap-christmas-miracle" target="_blank">
          <h4>JCAPCM</h4>
          <p>A metal / punk / christmas / chamber-jazz disaster</p>
        </a>
        <a class="listen-tile" href="https://soundcloud.com/kieran_mcauliffe/embraceable-you" target="_blank">
          <h4>Embraceable You</h4>
          <p>From the great american songbook, performed on solo guitar</p>
        </a>
      </div>
    </section>
    <!-- END LISTEN SECTION -->
    <!-- START WORKS SECTION -->
    <section id="works">
      <h2>Works List</h2>
      <div id="works-list">
        <h3>Orchestral</h3>
        <p>"Misty Step" (9") for orchestra. 2020</p>
        <p>"State of Repair" (6") for chamber orchestra. 2020</p>

        <h3>4+ Players</h3>
        <p>"The Fresh Pond in the Old Field" (10") for saxophone quartet. 2020</p>
        <p>"After the Carnival" (8") for flute choir. 2020</p>
        <p>"Pathology/Personality" (7") for string quartet and electric guitar. 2020</p>
        <p>"Sonnet XIX" (4") for clarinet, two violins and cello. 2020</p>
        <p>"Cascades" (8") for string quartet. 2018</p>

        <h3>2-3 Players</h3>
        <p>"Feet Among Snakes" (4") for flute and piano. 2020</p>
        <p>"Sonata for Me and You" (10") for flute and piano. 2019</p>
        <p>"Dance Now" (6") for flute, guitar and piano. 2019</p>
        <p>"No Confidence" (7") for tenor saxophone and clarinet. 2019. Revised for trumpet and clarinet. 2020</p>
        <p>"The Unknowing Detective" (11") for electric guitar and percussion. 2018</p>

        <h3>Solo</h3>
        <p>"Obstacle Play" (10") for guitar and electronics. 2020</p>
        <p>"Hush" (3") for piano. 2020</p>
        <p>"Silver in Veins" (3") for piano. 2019</p>

        <h3>Songs</h3>
        <p>"The Cruel Mother" (6") for mezzo-soprano, baritone and piano. 2020</p>

        <h3>Jazz Ensemble</h3>
        <p>"AP is OK" (9") for 9 musicians. 2017</p>
        <p>"Beneath the Garden" (9") for 9 musicians. 2017</p>
        <p>"Try Again" (6") for 9 musicians. 2017</p>
        <p>"AIphone" (9") for 9 musicians. 2017</p>
      </div>

    </section>

    <!-- END WORKS SECTION -->


    <!-- START CONTACT SECTION -->

    <section id="contact">
      <h2>Contact/External Links</h2>
      <ul id="contact-list">
        <li><a class="profile-link" href="mailto:bkieranmcauliffe@gmail.com"><i class="fas fa-envelope-square"></i>Email</a></li>
        <li><a class="profile-link" href="https://soundcloud.com/kieran_mcauliffe" target="_blank"><i class="fab fa-soundcloud"></i>Soundcloud</a></li>
        <li><a class="profile-link" href="https://github.com/trian-gles" target="_blank"><i class="fab fa-github"></i>Github</a>
        </li>
        <li><a class="profile-link" href="https://www.instagram.com/diatonicsystems" target="_blank"><i class="fab fa-instagram"></i>Instagram</a></li>
        <li><a class="profile-link" href="https://twitter.com/keeeyran" target="_blank"><i class="fab fa-twitter"></i>Twitter</a></li>
      </ul>
    </section>

    <!-- END CONTACT SECTION -->
    <!-- START FOOTER -->

    <footer><p>&#169;2021 B. Kieran McAuliffe</p>
      <a href="#welcome">Back to top</a></footer>
  </body>
</html>
