@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --link-hover: #ff8c8c;
  --color-gray: #1c1b16;
  --color-light-gray: #b8b8b8;
}

html {
  border-box: 0;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 50%;
  }
}

/* 380px / 16px = 23.75em */
@media (max-width: 23.75em) {
  html {
    font-size: 45%;
  }
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
  background: #ffc533;
}

section {
  padding-top: 3.6rem;
}

h1, h2 {
  text-shadow: 2px 2px white;
}

h2 {
  margin: 1em;
}

p {
  font-size: 1.2em;
}

ul {
  list-style: none;
}

/*Navbar*/
nav {
  width: 100%;
  background: var(--color-gray);
  position: fixed;
  z-index: 2;
}

#nav-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 .5rem;
}

.nav-link {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  padding: .8rem;
}

.nav-link:hover {
  color: var(--link-hover);
}

/* Welcome */

#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.6em;
}

@media (max-width: 61.25em) {
  h1 {
    font-size: 2.6em;
  }
}

/* About */

#about {
  background: #b8b8b8;
  min-height: 100vh;
}

#bio {
  margin:0 .8em 1.6em 0;
}

#bio-div {
  margin: 1em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#headshot {
  max-width: 50%;
}

@media (max-width: 61.25em) {
  #bio-div {
    flex-direction: column;
    align-items: center;
  }

  #headshot {
    max-width: 100%;
  }
}



/* Listen */
#listen {
  min-height: 100vh;
}

#listen-grid {
  display: grid;
  margin: auto;
  width: auto;
  height: 100%;
  padding: .8em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
  justify-items: center;
}

.listen-tile {
  text-decoration: none;
  color: black;
  background: white;
  border: 1px solid black;
  max-width: 300px;
}

.listen-tile:hover {
  background: var(--link-hover);
}

.listen-tile h4 {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

.listen-tile p {
  margin: .2em;
  line-height: 1.2;
}

/* Works */
#works {
  background: #b8b8b8;
}

#works-list {
  margin-left: 7em;
  padding-left: 2em;
}

#works-list p {
  text-indent: -2em;
}

@media (max-width: 65.25em) {
  #works-list {
    margin: 1em;
  }
}

#works-list h3 {
  text-indent: -2em;
  margin: .6em 0;
}

/* Contact */

#contact {
  height: 90vh;
}

#contact-list {
  width: 80%;
  margin: auto;
}

#contact-list li {
  padding-bottom: 1em;
}

.profile-link {
  text-decoration: none;
  color: black;
  font-size: 1.4em;
}

.profile-link i{
  margin-right: .2em;
  transition: margin-right .6s;
}

.profile-link:hover i{
  margin-right: 1em;
}

/* Footer */

footer {
  padding: .5em;
  background: var(--color-gray);
  color: white;
  text-align: center;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: .8em;
}

footer a {
  color: white;
}

footer a:hover {
  color: var(--link-hover);
}

/* PROJECT PORTFOLIO */
#project-page-title {
  width: 100%;
}

small {
  font-size: .4em;
}

.project-section {
  padding-top: 3em;
  padding-bottom: 1.4em;
}

.github-link {
  text-decoration: none;
  color: white;
  background: var(--color-gray);
  padding: .4em;
  display: block;
  margin: 1em auto 1em auto;
  font-size: 1.4em;
  text-align: center;
}

.github-link:hover {
  color: var(--link-hover);
}

.project-header {
  margin: 1em 0;
}

.project-div {
  width: 80%;
  margin: auto;
}

.project-even {
  padding-top: .8em;
  background: var(--color-light-gray);
}

.project-odd {
  padding-top: .8em;
}
